# Application
NODE_ENV=development
PORT=8002
SERVICE_NAME=product-service

# MongoDB
MONGODB_URI=mongodb://mongodb:27017/emp_product
MONGODB_DB_NAME=emp_product

# Redis
REDIS_HOST=redis-master
REDIS_PORT=6379
REDIS_PASSWORD=

# RabbitMQ
RABBITMQ_URI=amqp://guest:guest@rabbitmq:5672
RABBITMQ_EXCHANGE=product.exchange

# JWT & Auth
AUTH_SERVICE_URL=http://auth-service:8001
JWT_ISSUER=https://emp.example.com
JWT_AUDIENCE=emp-platform
JWKS_URL=http://auth-service:8001/.well-known/jwks.json

# OpenTelemetry
OTEL_SERVICE_NAME=product-service
OTEL_SERVICE_VERSION=1.0.0
OTEL_EXPORTER_OTLP_ENDPOINT=http://jaeger:4317

# Metrics
METRICS_PORT=9464